**TO PREDICT IF I WOULD LIKE A CERTAIN SONG USING SKLEARN IN PYTHON**

    DATE: Tue 21 Jun

In [25]:
import pandas as pd
import numpy as np
DF = pd.read_csv("/content/likedsongsGV.csv")
DF.head()

,Spotify ID,Artist IDs,Track Name,Album Name,Artist Name(s),Release Date,Duration (ms),Popularity,Added By,Added At,...,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature,Likeit?
0,7hPQLu2BTFqHSp4N9q7zRJ,"3uKUYOnOlOpYj7quHnLtFv,4lWJityOQkWcLFiboQBvBq",Loves Me Not,Loves Me Not,"Kate Grahn,Will Jay",2014-06-24,203076,32,spotify:user:31hqcqnhq3t7rwjtmbi2kh7rclry,2020-05-19T11:13:19Z,...,-12.227,1,0.0373,0.95300,0.000000,0.3160,0.272,96.476,3,yes
1,20JlaQj9irFjFb8X0SKKS7,0rZRTXEmmPmx6gt92tBqIc,Before It Sinks In,Malaya,Moira Dela Torre,2018-02-19,263720,67,spotify:user:31hqcqnhq3t7rwjtmbi2kh7rclry,2020-05-19T10:56:42Z,...,-8.135,1,0.0355,0.60500,0.000000,0.0798,0.185,140.006,4,yes
2,5zCunX8URvLoBHlg1Fnjv6,0MeLMJJcouYXCymQSHPn8g,Already Gone,"Covers, Vol. 2",Sleeping At Last,2016-11-04,243007,70,spotify:user:31hqcqnhq3t7rwjtmbi2kh7rclry,2021-09-30T07:53:09Z,...,-9.997,1,0.0451,0.95400,0.000004,0.1080,0.298,130.953,4,yes
3,4K0M12PIWJjA4H0NAP142y,4AK6F7OLvEQ5QYCBNiQWHq,Taken,Up All Night,One Direction,2012-05-25,237706,60,spotify:user:31hqcqnhq3t7rwjtmbi2kh7rclry,2020-05-18T18:47:47Z,...,-5.204,1,0.0305,0.00387,0.000000,0.4130,0.684,95.035,4,yes
4,21dpBHPTV7ythCHBI6Slcw,2WzaAvm2bBCf4pEhyuDgCY,If By Chance,Safe Haven,Ruth B.,2017-05-05,303653,71,spotify:user:31hqcqnhq3t7rwjtmbi2kh7rclry,2021-09-30T07:53:12Z,...,-8.099,1,0.0334,0.88100,0.000000,0.0933,0.256,119.850,4,yes

<center> (I've exported the dataset from my own spotify playlist)

In [26]:
print(df.shape)
inputDF = df

(1041, 24)

In [27]:
inputDF = df.drop(['Spotify ID','Artist IDs','Track Name','Album Name','Artist Name(s)','Release Date','Added By','Added At','Genres','Likeit?'], axis='columns')
inputDF.head(3)

,Duration (ms),Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature
0,203076,32,0.415,0.160,8,-12.227,1,0.0373,0.953,0.000000,0.3160,0.272,96.476,3
1,263720,67,0.542,0.392,1,-8.135,1,0.0355,0.605,0.000000,0.0798,0.185,140.006,4
2,243007,70,0.418,0.248,3,-9.997,1,0.0451,0.954,0.000004,0.1080,0.298,130.953,4

In [28]:
inputDF.isna().sum()

Duration (ms)       0
Popularity          0
Danceability        0
Energy              0
Key                 0
Loudness            0
Mode                0
Speechiness         0
Acousticness        0
Instrumentalness    0
Liveness            0
Valence             0
Tempo               0
Time Signature      0
dtype: int64

<center> (Here we can see there's no missing data for EDA)

In [29]:
outputDF = df['Likeit?']
outputDF.head(3)

0    yes
1    yes
2    yes
Name: Likeit?, dtype: object

<center> (This dataset only includes the data that we wish to predict)<br>
Since the data here is not numeric, we can use dummy variables for it.

In [30]:
dummies= pd.get_dummies(df['Likeit?'])
dummies.head(3)

   no  yes
0   0    1
1   0    1
2   0    1

In [31]:
outputDF = pd.concat([outputDF, dummies], axis='columns')
outputDF.head()

  Likeit?  no  yes
0     yes   0    1
1     yes   0    1
2     yes   0    1
3     yes   0    1
4     yes   0    1

In [32]:
outputDF = outputDF.drop(['Likeit?','no'], axis='columns')
outputDF.head()

   yes
0    1
1    1
2    1
3    1
4    1

In [34]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(inputDF,outputDF,test_size=0.2)

<center> (Splitting the dataset for training and testing to calculate the accuracy of the model)

In [35]:
inputDF.shape

(1041, 14)

In [36]:
xTrain.shape

(832, 14)

In [38]:
xTest.shape

(209, 14)

In [39]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

<center> For this model, I have used decision tree approach.

In [40]:
model.fit(xTrain,yTrain)

DecisionTreeClassifier()

<center> (Now, let's check the accuracy of our model)

In [41]:
print("Accuracy of model:", end=" ") 
print(model.score(xTest, yTest)*100,"%")

Accuracy of model: 84.21052631578947 %

In [45]:
xTest.head()

,Duration (ms),Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Time Signature
751,180120,66,0.773,0.6990,1,-5.982,0,0.0958,0.488,0.000004,0.0814,0.513,104.941,4
877,223226,0,0.494,0.1700,10,-11.368,1,0.0337,0.895,0.000000,0.1390,0.145,80.098,4
900,213642,23,0.626,0.0774,7,-22.062,1,0.0385,0.947,0.231000,0.1110,0.143,140.392,3
553,134039,0,0.554,0.7490,9,-2.385,1,0.0533,0.254,0.000000,0.0785,0.340,78.643,4
281,144880,53,0.719,0.4900,2,-7.555,1,0.2100,0.628,0.000000,0.0871,0.661,159.999,4

In [46]:
model.predict(xTest)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)

<center> here 1 means "yes, I'd like the song"<br>
0, otherwise