### **Naïve Bayes Classifier Algorithm**
**Naïve Bayes algorithm** is a supervised learning algorithm, which is based on Bayes theorem and used for solving classification problems.<br>

-> **Naïve:** It is called Naïve because it assumes that the occurrence of a certain feature is independent of the occurrence of other features.<br>
-> **Bayes:** It is called Bayes because it depends on the principle of Bayes' Theorem. <br> <br>

### **Types of Naïve Bayes Model:**
1. **Bernoulli Naive Bayes :** It assumes that all our features are binary such that they take only two values. *Means 0s can represent “word does not occur in the document” and 1s as "word occurs in the document" .*

2. **Multinomial Naive Bayes :** Its is used when we have discrete data (e.g. movie ratings ranging 1 and 5 as each rating will have certain frequency to represent). In text learning we have the count of each word to predict the class or label.

3. **Gaussian Naive Bayes**: Because of the assumption of the normal distribution, Gaussian Naive Bayes is used in cases when all our features are continuous. <br> *(For example in Iris dataset features are sepal width, petal width, sepal length, petal length. So its features can have different values in data set as width and length can vary. We can’t represent features in terms of their occurrences. This means data is continuous. Hence we use Gaussian Naive Bayes here.)*

**EXERCISE**

Use wine dataset from sklearn.datasets to classify wines into 3 categories. Load the dataset and split it into test and train. After that train the model using Gaussian and Multinominal classifier and post which model performs better. Use the trained model to perform some predictions on test data.

In [87]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine

In [88]:
wine=load_wine()

In [89]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [90]:
df=pd.DataFrame(wine.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [91]:
print(wine.feature_names)

['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

In [92]:
df2=pd.DataFrame(wine.target)
df2.head()

   0
0  0
1  0
2  0
3  0
4  0

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df,df2)

In [94]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
80,12.00,0.92,2.00,19.0,86.0,2.42,2.26,0.30,1.43,2.50,1.38,3.12,278.0
53,13.77,1.90,2.68,17.1,115.0,3.00,2.79,0.39,1.68,6.30,1.13,2.93,1375.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0
37,13.05,1.65,2.55,18.0,98.0,2.45,2.43,0.29,1.44,4.25,1.12,2.51,1105.0

In [95]:
y_train.head()

     0
80   1
53   0
3    0
121  1
37   0

**GAUSSIAN CLASSIFIER**

In [102]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [103]:
model.predict(X_test)

array([1, 1, 1, 1, 1, 2, 1, 0, 1, 2, 1, 1, 1, 2, 0, 0, 1, 2, 2, 2, 1, 0,
       2, 2, 1, 1, 1, 2, 1, 0, 0, 2, 2, 1, 1, 2, 1, 2, 0, 0, 2, 1, 0, 2,
       2])

In [104]:
print("Accuracy of the model")
model.score(X_test, y_test)

Accuracy of the model

0.9555555555555556

**MULTINOMIAL CLASSIFIER**

In [99]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [100]:
model.predict(X_test)

array([1, 1, 1, 1, 1, 2, 1, 0, 1, 2, 0, 2, 2, 0, 0, 0, 1, 2, 2, 0, 1, 2,
       2, 2, 1, 1, 1, 2, 1, 0, 0, 2, 2, 1, 2, 2, 1, 2, 0, 0, 2, 1, 0, 0,
       1])

In [101]:
print("Accuracy of the model")
model.score(X_test, y_test)

Accuracy of the model

0.8222222222222222

**Accuracy of Gaussian Classifier is better.**