# <b>  Exercise </b>

Train SVM classifier using sklearn digits dataset (i.e. from sklearn.datasets import load_digits) and then,

1.  Measure accuracy of your model using different kernels such as rbf and linear.
2.   Tune your model further using regularization and gamma parameters and try to come up with highest accurancy score.
3.   Use 80% of samples as training data size. </b>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_digits

In [3]:
digits = load_digits()

In [4]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [17]:
df = pd.DataFrame(digits.data, columns= digits.feature_names)
df.head(2)

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0

In [18]:
df['target'] = digits.target  # adding a new column 
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [19]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
X = df.drop(['target'], axis='columns')
Y = df.target

In [30]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(X, Y, test_size=0.2)

In [31]:
len(xTrain)

1437

In [32]:
len(xTest)

360

**Using RBF kernel**

In [51]:
from sklearn.svm import SVC
model = SVC(kernel="rbf")

In [52]:
model.fit(xTrain, yTrain)

SVC()

In [53]:
print("Accuracy of model:", end=" ") 
print(model.score(xTest, yTest)*100,"%")

Accuracy of model: 99.44444444444444 %

**Using Linear kernel**

In [36]:
from sklearn.svm import SVC
model = SVC(C=1, kernel="linear", degree=3, gamma="scale")

In [37]:
model.fit(xTrain, yTrain)

SVC(C=1, kernel='linear')

In [38]:
print("Accuracy of model:", end=" ") 
print(model.score(xTest, yTest)*100,"%")

Accuracy of model: 98.05555555555556 %

**changing regularization and gamma parameters**

In [54]:
from sklearn.svm import SVC
model = SVC(C=2, kernel="rbf", degree=3, gamma="auto")
SVC()

SVC()

In [55]:
model.fit(xTrain, yTrain)

SVC(C=2, gamma='auto')

In [56]:
print("Accuracy of model:", end=" ") 
print(model.score(xTest, yTest)*100,"%")

Accuracy of model: 50.55555555555556 %